body {
  background: #f5f7fa;
  font-family: "Inter", sans-serif;
}

/* Center Page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Login Card */
.login-card {
  background: white;
  padding: 40px 35px;
  border-radius: 14px;
  width: 350px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  border-top: 6px solid #002d72;
}

.login-logo {
  width: 70px;
  margin-bottom: 10px;
}

.login-title {
  font-size: 22px;
  color: #002d72;
  font-weight: 700;
}

.login-subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Inputs */
form {
  text-align: left;
}

label {
  font-size: 14px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border: 1.4px solid #cfd6e0;
  border-radius: 10px;
  font-size: 14px;
}

input:focus {
  border-color: #002d72;
  outline: none;
}

/* Button */
.login-btn {
  width: 100%;
  background: #002d72;
  color: white;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background: #003b99;
}

/* Error */
.login-error {
  background: #ffdddd;
  color: #a30000;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Footer */
.login-footer {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}

@media (max-width: 450px) {
  .login-card {
    width: 89%;
    padding: 30px 20px;
  }
}
